<p class='field radios'>
  <% data.forEach(function(data){ %>
    <label>
      <input id="order_shipments_attributes_0_selected_shipping_rate_id_<%= data.id %>" name="order[shipments_attributes][0][selected_shipping_rate_id]" type="radio" value="<%= data.id %>">
      <%= data.name %>
      <%= data.cost %>
    </label>
  <% }) %>
</p>
<input id="order_shipments_attributes_0_id" name="order[shipments_attributes][0][id]" type="hidden" value="11">